name: Build and push test image to registry
on:
  workflow_dispatch: # Manual trigger

jobs:
  test-build-and-push:
    name: Build and push test image
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      security-events: write # push sarif to github security
      id-token: write
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
          registry-url: 'https://npm.pkg.github.com'
      - name: Install dependencies
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - name: Run tests
        run: npm test
      - name: npm prune
        run: npm prune
      - name: Build application
        run: npm run build
      - name: npm prune --omit-dev
        run: npm prune --omit-dev
      - name: Create image tag
        run: echo "IMAGE_TAG=TEST_$(TZ=\"Europe/Oslo\" date +%Y.%m.%d_%H.%M)-$(git rev-parse --short=12 HEAD)" >> $GITHUB_ENV
      - name: Push docker image to GAR
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: poao
          tag: ${{ env.IMAGE_TAG }}
      - name: Create test release
        if: github.event_name == 'workflow_dispatch'
        uses: softprops/action-gh-release@v2
        with:
          name: Test release poao-frontend ${{ github.ref_name }}
          tag_name: ${{ env.IMAGE_TAG }},
          prerelease: true
